.clothes-section {
  flex-grow: 1;
}

.clothes-section__row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
}

.clothes-section__text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.clothes-section__add-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  color: #00000099;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
}

.clothes-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}
