.clothes-section{
    flex: 1;
}

.clothes-section__row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 16px;
}

.clothes-section__list {
 display: flex;
 flex-wrap: wrap;
 gap: 20px;
 padding: 0;
 margin: 16px 0 0;
 list-style: none;
}